@media (max-width: 940px) {
  .main-content {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    padding: 35px, 15px, 0px, 15px;
    border: none;
    width: 360px;
    gap: 13px;
  }

  .header-logo {
    margin: 0px;
  }

  .desktop-logo {
    display: none !important;
  }
  .mobile-logo {
    display: block !important;
  }

  header nav {
    display: none;
  }

  .location {
    margin: 0px;
  }

  .selected-location {
    width: 121px;
  }

  .location p {
    font-size: 10px;
  }

  .menu {
    display: block;
  }

  .button-login {
    display: none;
  }

  footer {
    margin-top: 110px;
    width: 100%;
    height: 100px;
    margin-bottom: 200px;
  }

  .footer-block {
    display: none;
  }

  .footer-block-m {
    display: block;
  }

  .social-link {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .addres-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-top: 24px;
  }

  .phone-footer {
    font-size: 34px;
    text-align: center;
  }

  .addres-footer {
    text-align: center;
  }

  .block-info {
    margin-top: 40px;
    gap: 125px;
  }

  /* карточки */

  .card-sell {
    width: 160px;
    height: 268px;
    border-radius: 6px;
    border: solid 1px rgba(35, 35, 35, 0.8);
  }

  .card-sell .top-card {
    width: 160px;
    height: 160px;
    position: relative;
  }

  .fav_ads {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 14px;
    margin-right: 9px;
    color: #ffffff;
    width: 13px;
    height: 12px;
  }

  .img-card {
    width: 160px;
    height: 160px;
  }

  .svg-logo-card {
    position: absolute;
    top: 0;
    right: 0;
    margin: 53px 36px 0px 62px;
  }

  .status {
    position: absolute;
    top: 0;
    right: 0;
    margin: 136px 8px 9px 15px;
    display: flex;
    background-color: #ffffff;
    color: #232323;
    border: solid #232323 1px;
    border-radius: 4px;
    align-items: center;
  }

  .announcement {
    display: none;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }

  .announcement-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }

  .announcement-m h3 {
    font-size: 10px;
    font-weight: 300;
    line-height: 11.72px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .announcement-m .data-card {
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .announcement-m h4 {
    font-size: 10px;
  }

  .announcement-m .more-data-card {
    margin-top: 6px;
    margin-left: 4px;
    align-items: flex-end;
  }

  .announcement-m .more-data-card .icon-link i {
    font-size: 16px;
  }

  .btn-atp-link {
    padding: 5px 4px 5px 4px;
    margin-right: 4px;
  }

  .icon-links-data {
    height: fit-content;
  }

  .icon-link {
    height: fit-content;
  }
}
