@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-popup{
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(241, 214, 43, 1);
    border-radius: 6px;
    padding-bottom:12px;
}

.content-login{
    display: flex;
    flex-direction: column;
    margin: 12px 12px 0px 12px;
}

.info-login{
    display: flex;
    justify-content: space-between;
}

.pop-text-login{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: rgba(35, 35, 35, 1);
}

.info-login a{
    width: 24px;
    height: 24px;
}

.input-lg{
    display: flex;
    align-items: center;
    height: 24px;
    border: 1px solid rgba(81, 81, 81, 1);
    border-radius: 6px;
    padding-left: 6px;
}


.bts-lg{
    display: flex;
    margin-top: 8px;
}

.btn-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 1px solid rgba(35, 35, 35, 1);
    background-color: rgba(241, 214, 43, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    border-radius: 6px;
    margin-right: 8px;
}

.btn-forms button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 1px solid rgba(35, 35, 35, 1);
    background-color: rgba(241, 214, 43, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    border-radius: 6px;
    margin-right: 8px;
}

.btn-reg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 24px;
    border: 1px solid rgba(35, 35, 35, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    border-radius: 6px;
}

.link-restore{
    margin-top: 8px;
    color: rgba(35, 35, 35, .5);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 11.72px;
    margin-bottom: 12px;
}

.restore-popup{
    width: 300px;
    height: 112px;
    border: 1px solid rgba(241, 214, 43, 1);
    border-radius: 6px;
}

.content-restore{
    display: flex;
    width: 276px;
    height: 88px;
    flex-direction: column;
    margin: 12px 12px 0px 12px;
}


.over-region, .region-popup{
    display: flex;
    flex-direction: column;
}

.over-region {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.region-popup {
    display: flex;
    border: 1px solid rgba(241, 214, 43, 1);
    border-radius: 6px;
    background: #fff; 
    z-index: 9999; 
}


.close {
    display: flex;
    justify-content: flex-end;
    height: 10px;
    padding: 8px;
    padding-top: 1px;
}


.li_rg {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    text-decoration: none;
    color: #232323;
    cursor: pointer;
}

.region{
    display: flex;
}

.region ul {
    list-style: none;
}


.first-region,
.second-region {
    margin-bottom: 10px;
}


.confirm-rg{
    width: 293px;
    border: 1px solid #F1D62B;
    border-radius: 6px;
}

.confirm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm h3{
    margin-right: 16px;
}
.content-confirm{
    margin: 12px 12px 0px 12px;
}

.confirm-rg h3{
    font-family: 'Robot', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}

.btn-form{
    border: 1px solid #232323;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 11.72px;
    padding: 6px 12px 6px 12px;
}

#yes{
    background-color: #F1D62B;
    padding: 6px 12px 6px 12px;
}

.change-rg{
    margin-top: 8px;
    margin-bottom: 12px;
}

.change-rg a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    text-decoration: none;
}

.over-rg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 8000; 
    display: none;
    align-items: center;
    justify-content: center;
}

.over-rg.visible {
    display: flex; 
}

.confirm-rg {
    position: fixed; 
    top: -200px; 
    left: 64%;
    transform: translateX(-50%); 
    width: fit-content;
    border: 1px solid #F1D62B;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 9999; 
    opacity: 0; 
    transition: top 0.5s ease, opacity 0.5s ease; 
}

.confirm-rg.visible {
    top: 53px; 
    opacity: 1; 
}


.content-confirm {
    margin: 12px;
}


.confirm h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}

.btn-form {
    border: 1px solid #232323;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 11.72px;
    padding: 6px 12px;
    margin: 2px;
    cursor: pointer;
}

.yes {
    background-color: #F1D62B;
}

.change-rg {
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 11.72px;
}


.link-social-popup{
    display: flex;
    width: 328px;
    height: 48px;
    border: 1px solid #F1D62B;
    border-radius: 6px;
    align-items: center;
}

.text-content-links{
    margin: 10px 10px 10px 20px;
}

.text-content-links h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.06px;
}

.links-social img{
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.links-social{
    margin-right: 16px;
}


.link-social-popup {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    width: fit-content; 
    height: auto;
    background: #fff; 
    border: 1px solid #F1D62B; 
    border-radius: 6px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 900; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px, 16px, 10px, 16px;
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.link-social-popup.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.slot{
    border: #232323 solid 1px;
    border-radius: 6px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.big-slot{
    font-weight: 700;
}

.slot table tr td{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 12.1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.slot table tr .big-td{
    font-weight: 700;
}

.close-slot{
    height: fit-content;
    display: flex;
    justify-content: end;
}


.close-slot a img{
    height: 10px;
    width: 10px;
}

.slot table{
    border-collapse: collapse;
}
.slot table tr .start-td{
    font-weight: 600;
    opacity: 50%;
    padding-top: 0px;
}

.slot table tr .num{
    width: 7px;
    text-align: start;
}

.slot table tr td{
    width: 98px;
    text-align: center;
}

.slot table tr{
    border-bottom: 1px solid rgba(35, 35, 35, .3) ;
}
.slot table tr:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.slotS{
    padding-top: 0px;
}

#price-popup {
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    position: relative;
}

.mfp-preloader,
.mfp-close {
    display: none !important;
}


.mfp-bg {
    background-color: rgba(0, 0, 0, 0.7); 
}


.post-quest{
    width: 300px;
    border: #F1D62B 1px solid;
    border-radius: 6px;
}

.post-quest form{
    padding: 12px;
}

.heads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.heads h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.post-quest form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.post-quest {
    width: 300px;
    border: #F1D62B 1px solid;
    border-radius: 6px;
}

.post-quest form {
    padding: 12px;
}

.heads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.heads h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.post-quest form {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.text-q {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 11.72px;
    height: 60px;
    padding: 6px;
    max-width: 274px;
}

.input-lg {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
}

.btn-lg {
    background-color: #F1D62B;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.popup-close img {
    width: 20px;
    height: 20px;
}

.btn-post{
    height: fit-content;
    border-radius: 6px;
    border: 1px solid rgba(35, 35, 35, 1);
    padding: 6px 12px;
    margin-top: 8px;
}   

.postic{
    margin-top: 8px;
    margin-bottom: 0px;
}

.mfp-preloader,
.mfp-close {
    display: none !important;
}


.post-quest {
    max-width: 400px;
    margin: 0 auto;
    border: #F1D62B 1px solid;
    border-radius: 6px;
    background-color: #fff; 
}

.mfp-bg {
    background: rgba(0, 0, 0, 0.7); 
}


.text-q{
    font-family: 'Roboto', sans-serif;
    font-family: 400;
    line-height: 11.72px;
    height: 60px;
    padding: 6px;
}


.mfp-fade.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.mfp-hide {
    display: none !important;
}


.mfp-bg {
    background: rgba(0, 0, 0, 0.7);  
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;  
    z-index: 9999;  
}


.mfp-wrap {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;  
    z-index: 10000;  
    display: flex;
    justify-content: center;  
    align-items: center; 
}


.mfp-content {
    background-color: #fff; 
    border-radius: 10px; 
    overflow-y: auto; 
}


.mfp-fade.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.7;  
}


.mfp-fade.mfp-wrap {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0.8);
}

.mfp-fade.mfp-wrap.mfp-ready {
    opacity: 1;
    transform: scale(1);
}

.close-popup{
    width: fit-content;
    height:20px;
}
.close-popup i{
    font-size: 10px;
    text-decoration: none;
    color: #515151;
}
